:root {
    /* Colours */
    --color-text: #18042d;
    --color-primary: #8852bf;
    --color-secondary: #3d196d;
    --color-dark: #2e0b47;
    --color-bg: #ffffff;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  